
.dots {
  width: 86px;
  height: 70px;
  background: transparent;
  // background-image: radial-gradient(#fff 2.5px, transparent 0);
  background-size: 15px 15px;
  background-position: -120px -120px;
  background-repeat: repeat;
}
