.header__boy {
  background-image: url(../../../../images/boy.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 10px;
  width: 243px;
  height: 361px;
  position: absolute;
  bottom: 0;
  right: 20px;
  z-index: 0;
}
