@import "../__list/header__list.scss", "../__links/header__links.scss";

.header__line {
  max-width: calc(100% - 344px);
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  margin: 0 auto;
}
