.header__girl{
  background-image: url(../../../../images/girl.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 10px;
  width: 243px;
  height: 361px;
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 0;
}
