@import "./__main/header__main.scss", "./__line/header__line.scss", "./__triangle/header__triangle.scss",
  "./__tags/header__tags.scss";

.header {
  min-height: 1080px;
  background: $header-bg;
  color: $white-text;
  position: relative;
  overflow: hidden;
}
